@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
#project-heading{
 
    place-self: center;
      
}

.column{
    align-items :center;
}

.project-detail{
   
}

.projectdetails-upper{
    margin: 1em !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;

}
.projectdetail-list{
    margin: 1em !important;
    padding: 1em  !important;
    overflow-x: auto !important;
    height: fit-content;
   
   
}
/* .list-container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width : 99vw;
    margin: auto;
} */
.listdetail-heading{
    border-top: none  !important;
    border-left: none  !important;
    border-right: none  !important;
    border-bottom: 1px dashed rgb(200, 200, 200)  !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.projectdetails-heading{
    font-family: 'Courgette', cursive !important;
    font-size: 75px;
}